.App {
  text-align: center;
}

.book-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.page {
  background: #c4e1e6;
  padding: 20px;
  font-family: sans-serif;
  border: 1px solid #ccc;
}
