body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.page:first-child {
  background-color: #111;
  color: white;
  font-family: 'Georgia', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
.home-cover {
  display: flex;
  flex-direction: column;      
  justify-content: center;       
  align-items: center;          
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;                 
  padding: 20px;
}